# **Modelo preditivo para sucesso de start-ups**

### **Importando bibliotecas importantes**

In [1]:
import pandas as pd
import numpy as np

### **Importando os dados**

In [15]:
df = pd.read_csv('../data/train.csv')
df.head(30)

,id,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,funding_total_usd,milestones,is_CA,...,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,labels
0,719,10.42,13.09,8.98,12.72,4,3,4087500,3,1,...,0,0,1,1,0,0,0,0,1.0000,0
1,429,3.79,3.79,NaN,NaN,21,1,45000000,0,0,...,0,0,0,0,0,1,0,0,1.0000,1
2,178,0.71,2.28,1.95,2.28,5,2,5200000,2,1,...,0,1,1,0,1,0,0,0,1.0000,0
3,197,3.00,5.00,9.62,10.39,16,2,14500000,2,0,...,0,0,0,1,0,1,0,0,2.0000,1
4,444,0.66,5.88,6.21,8.61,29,5,70000000,4,1,...,0,0,0,0,1,1,1,1,2.8000,1
5,67,1.09,1.09,NaN,NaN,5,1,20500000,0,0,...,0,0,1,0,0,0,0,0,4.0000,0
6,505,0.65,0.65,NaN,NaN,3,1,900000,0,1,...,0,0,0,0,1,0,0,0,1.0000,0
7,410,0.34,5.22,3.00,6.03,5,4,48730000,3,0,...,0,0,1,0,1,1,1,0,3.0000,1
8,284,0.00,0.00,0.74,0.74,2,1,50000,1,1,...,0,0,0,1,0,0,0,0,2.0000,0
9,252,0.08,4.33,3.66,5.61,12,7,88651133,5,0,...,0,0,1,1,1,1,1,1,3.1667,1
10,324,0.75,3.07,3.92,4.50,16,3,2000000,2,1,...,0,1,0,1,0,0,0,0,3.6667,1
11,105,NaN,1.25,2.17,4.60,21,2,6000000,2,1,...,0,0,0,1,1,0,0,0,4.0000,1
12,673,1.28,2.01,2.16,3.44,12,2,5700000,3,1,...,0,0,0,0,1,1,0,0,4.0000,1
13,749,0.00,0.00,0.33,0.33,2,1,1500000,1,0,...,0,1,0,0,0,0,0,0,6.0000,0
14,211,2.24,4.03,NaN,NaN,3,2,16100000,0,0,...,0,0,0,0,0,1,1,0,2.5000,1
15,841,0.00,0.00,NaN,NaN,21,1,5675000,2,1,...,0,0,1,0,0,0,0,0,4.0000,1
16,48,0.25,0.25,1.12,1.66,9,1,3000000,2,0,...,0,0,0,0,1,0,0,0,1.0000,1
17,381,0.22,2.05,0.04,3.92,8,4,3499997,3,0,...,0,0,1,0,1,0,0,0,1.5000,1
18,315,0.75,7.82,4.32,5.90,16,7,26390819,3,0,...,0,0,1,0,1,1,0,0,1.3333,0
19,831,NaN,1.23,0.32,1.30,4,2,1400000,2,1,...,0,0,0,1,0,0,0,0,3.0000,1
20,130,2.42,5.44,2.00,2.00,2,3,26100000,1,1,...,0,1,1,0,0,1,0,0,3.5000,1
21,452,3.60,7.93,8.59,9.11,1,3,21460663,2,0,...,0,0,0,0,0,1,1,1,4.5000,1
22,580,2.21,4.65,NaN,NaN,1,2,20000000,1,0,...,0,1,1,0,0,0,1,0,2.0000,1
23,599,1.46,6.39,6.42,6.42,4,3,58000000,1,1,...,0,0,0,0,1,1,1,0,5.0000,1
24,194,1.16,3.04,3.27,5.54,7,2,57000000,2,1,...,0,0,0,0,1,1,0,0,3.5000,1
25,754,1.59,1.59,1.19,2.55,6,1,3000000,2,1,...,0,0,0,0,1,0,0,0,2.0000,1
26,485,1.59,3.18,NaN,NaN,1,3,24150000,0,0,...,0,1,1,0,1,1,0,0,2.0000,1
27,487,1.42,3.33,4.42,9.82,11,2,36000000,3,1,...,0,1,0,0,1,1,0,0,3.5000,1
28,299,4.30,4.30,NaN,NaN,0,1,2600000,0,0,...,0,1,0,0,1,0,0,0,1.0000,0
29,223,1.25,1.25,2.59,2.59,6,1,1500000,1,1,...,0,0,0,0,0,0,0,0,1.0000,0

### **Exploração de dados**

Cada start-up registrada no banco de dados só aparece uma vez, e as informações de cada uma estão distribuidas nas colunas. São 646 start-ups.

In [14]:
numero_de_linhas = len(df)
print(f"O DataFrame tem {numero_de_linhas} linhas.")

O DataFrame tem 646 linhas.

### **Pre-processamento**: limpeza e transformação de dados